{% extends "base.html" %}

{% block content %}
<h1>H.A.P.P.Y. Robot Device Status</h1>
<p>This is a status page for our robot, showing the current status and values of all of our sensors</p>

<center><div class="row">
    <div class="column">
      <img src="{{url_for('static', filename='robotpov.jpg')}}" alt="POV" style="width:100%">
    </div>
    <div class="column">
      <img src="{{url_for('static', filename='currentlocation.jpg')}}" alt="current location" style="width:100%">
    </div>
  </div></center>

{% endblock %}
